<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dt.anh.dulichvietnam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_label_app"
        android:label="Du Lịch Việt Nam"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailPlaceActivity"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".DetailOfProvinceActivity"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".CommentProvinceActivity"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".PlaceActivity"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".PersonalAct"
            android:theme="@style/PersonalTheme" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".VoiceSpeechActivity" />
        <activity android:name=".ListPlaceActivity" />
        <activity android:name=".DetailAreaActivity"></activity>
    </application>

</manifest>